@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
body {
  font-size: 32px;
  font-family: Inter;
  box-sizing: border-box;
  margin: auto 0; }

#inactive {
  display: none; }

.testimonial {
  color: #202046; }

.position {
  color: #babacf; }

.arrow {
  padding: 15px; }
  .arrow svg path {
    stroke-width: 6px; }

.arrows-parents {
  background-color: white;
  margin-top: -1.7em;
  margin-left: 40%;
  z-index: 1;
  width: 3em;
  height: 1.5em;
  border-radius: 35px;
  display: flex;
  justify-content: space-between; }

@media screen and (min-width: 375px) and (max-width: 1439px) {
  .body {
    text-align: center; }
  .parent-container {
    display: grid; }
  .bg {
    width: 100%;
    z-index: -1; }
  .avatar {
    width: 78%;
    margin-top: -9.6em;
    margin-left: 1em;
    object-position: center;
    -webkit-box-shadow: 0px 31px 54px -25px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 31px 54px -25px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 31px 54px -25px rgba(0, 0, 0, 0.51); }
  .text {
    margin-top: 1.6em;
    display: grid;
    width: 85%;
    margin-left: 9%; }
  .position {
    margin-top: 0px; }
  .quote-img {
    margin-left: 37%;
    margin-bottom: -2.5em;
    height: 2.3em; }
  .curve {
    width: 100%;
    margin-bottom: -1em; } }
