@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

// ************* COLOR VARIABLES ******************//
$Dark-Blue: hsl(240, 38%, 20%);
$Grayish-Blue: hsl(240, 18%, 77%);

//////////////////// GLOBAL STYLES //////////////////
body {
    font-size: 32px;
    font-family: Inter;
    box-sizing: border-box;
    margin: auto 0;
    background-color: orange; // test code
}

#inactive {
    display: none;
}

.testimonial {
    color: $Dark-Blue;
}

.position {
    color: $Grayish-Blue;
}

.arrow {
    padding: 15px;

    & svg path {
        stroke-width: 6px;
    }
}

.arrows-parents {
    background-color: white;
    z-index: 1;
    width: 3em;
    height: 1.5em;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
}

.curve {
    width: 50%;
    margin-bottom: -1em; // weird gap at the bottom fixed
}

//////////////////// MOBILE VIEW ////////////////////
@media screen and (min-width: 375px) and (max-width: 1439px) {
    .body {
        text-align: center;
    }

    .parent-container {
        display: grid; //allows for overlapping images
    }

    .bg {
        width: 100%; // restricts image to viewport
        z-index: -1; // puts image behind another
    }

    .avatar {
        width: 78%;
        margin-top: -9.6em;
        margin-left: 1em;
        object-position: center; //keeps avatar from overflowing from viewport
        -webkit-box-shadow: 0px 31px 54px -25px rgba(0, 0, 0, 0.51);
        -moz-box-shadow: 0px 31px 54px -25px rgba(0, 0, 0, 0.51);
        box-shadow: 0px 31px 54px -25px rgba(0, 0, 0, 0.51);
    }

    .arrows-parents {
        margin-top: -1.7em;
        margin-left: 40%;
    }

    .text {
        margin-top: 1.6em;
        display: grid;
        width: 85%;
        margin-left: 9%;
    }

    .quote-img {
        margin-left: 37%;
        margin-bottom: -2.5em;
        height: 2.3em;
    }
    
    .position {
        margin-top: 0px;
    }

    .curve {
        width: 100%;
    }
}

//////////////////// DESKTOP VIEW ///////////////////
@media screen and (min-width: 1440px) {
    .bg {
        padding-left: 20em;
    }

    .avatar {
        margin-top: -28em;
        margin-left: 22em;
        margin-bottom: 2.7em;
    }

    .arrows-parents {
        background-color: red;
        margin-bottom: 5em;
        margin-left: 20em;
    }

    .text {
        width: 50%;
        margin: -30em 2em 0em;
    }

    .parent-container {
        margin: 1em;
    }
}